{% extends 'layout.html' %}
{% block body %}
<div class="bg-white py-5" style="margin-top: -60px;">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">JSON</h2>
        <p class="font-italic text-muted mb-4">JavaScript Object Notation (JSON) est un format de données textuelles dérivé de la notation des objets du langage JavaScript. Il permet de représenter de l’information structurée comme le permet XML par exemple....</p><a href="https://fr.wikipedia.org/wiki/JavaScript_Object_Notation" class="btn btn-light px-5 rounded-pill shadow-sm" target="_blank">En savoir plus ...</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://www.linkpicture.com/q/json-file-1-504451_1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://www.linkpicture.com/q/180855.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6">
        <h2 class="font-weight-light">CSV</h2>
        <p class="font-italic text-muted mb-4">Comma-separated values, connu sous le sigle CSV, est un format texte ouvert représentant des données tabulaires sous forme de valeurs séparées par des virgules.</p><a href="https://fr.wikipedia.org/wiki/Comma-separated_values" class="btn btn-light px-5 rounded-pill shadow-sm" target="_blank">En savoir plus ...</a>
      </div>
    </div>
  <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="font-weight-light">TEI</h2>
        <p class="font-italic text-muted mb-4">La Text Encoding Initiative (abrégé en TEI, en français « initiative pour l’encodage du texte ») est un format de balisage et une communauté académique internationale dans le champ des humanités numériques visant à définir des recommandations pour l’encodage de ressources numériques, et plus particulièrement de documents textuels.</p><a href="https://www.tei-c.org/" class="btn btn-light px-5 rounded-pill shadow-sm" target="_blank">En savoir plus ...</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://www.linkpicture.com/q/langfr-800px-Text_Encoding_InitiativeTEI_Logo.svg.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

  </div>
</div>
{% endblock %}
<style>
 .social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
</style>
