{% extends 'layout.html' %}

{% block body %}
    <p class="lead">


    	<div style="width:  100%; position: sticky;background-color:white;height: 15%;">
	<div style="height:  100% ;float: left;  position: absolute;left: 5px;top:0px;">
		<img height="100%" src="https://www.linkpicture.com/q/semlalia_1.jpg">
	</div>
	<div style="padding-top: 15px;" >
		<center>	
		<h3 style="position: center;">MASTER ISI</h3>
		<h3 style="position: center;">TRAITEMENT DE DOCUMENTS ELECTRONIQUES</h3>
		<h3 style="position: center;">2020-2021</h3>
		</center>
	
	</div>
	<div style="height:  100% ;float: right;  position: absolute;right: 5px;top:0px;">
			<img height="100%" src="https://www.linkpicture.com/q/cadiAyyad.png">
	</div>
</div>
 <br>

	<div style="padding-top: 15px;" >
		<center>	
		<h3 style="position: center;">Cette Application Web a été créée en binome par : </h3>
		<br>
		<h3 style="position: center;">EL KHARRACHI KHAYYA et Faouzi ACHOUR</h3>
		<br>
		<h3 style="position: center;">Encadré par Professeure : JIHAD ZAHIR</h3>

		
		</center>
	
	</div>


    </p>
{% endblock %}
